ignore-workspace-root-check=true
strict-peer-dependencies=false
package-manager-strict=false

prefer-workspace-packages=true
link-workspace-packages=true
recursive-install=true

save-workspace-protocol=false
shamefully-hoist=true